* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Satoshi', sans-serif;
    color: white;
    background: black;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* DESKTOP NAV */
nav,
.nav-links {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
    height: 9vh;
    font-weight: bold;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

nav li:last-child {
    width: max-content;
    display: flex;
    margin: auto;
    padding: 10px;
}

nav .logo {
    font-size: 2.3rem;
    padding-left: 10px;
}

a:link {
    text-decoration: none;
    color: white;
}

/* PRESENTATION CONTAINER */

.presentation {
    background: url(../ressources/images/hero-banner.png) center/cover no-repeat;
    min-height: 90vh;
    border-radius: 2rem;
    margin: 0;
    box-shadow: inset 0 0 50px #000000;
}

.presentation, .presentation__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.presentation__title, .presentation__subtitle {
    padding: 30px;
    font-weight: bold;
}

.presentation__title {
    font-size: 5rem;
}

.presentation__subtitle {
    font-size: 1.3rem;
}

/* SERVICES CONTAINER */

.services__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    
}

.services__title--super {
    color: #a29bfe;
}

.featuredServices {
    padding: 0 50px 50px 50px;    
}

.featuredServices__container {
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "article-1 article-2 article-2"
    "article-1 article-3 article-4"
    "article-5 article-5 article-4";
}

.article-1 { grid-area: article-1; }

.article-2 { grid-area: article-2; }

.article-3 { grid-area: article-3; }

.article-4 { grid-area: article-4; }

.article-5 { grid-area: article-5; }

.article {
    font-size: 1rem;
    border: 1px solid #a29bfe;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}   

.article__title {
    color: #a29bfe;
    font-weight: bold;
    padding-bottom: 5px;
}

.article__button {
    color: white;
    font-weight: bold;
    background-color: #a29bfe;
    border: 1px solid #a29bfe;
    border-radius: 10px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.article__footnote {
    font-size: 0.5em;
    font-style: italic;
}